@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px 20px 0px 20px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.add {
  height: 180px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.top-news {
  background-color: rgb(206, 213, 210);
  padding: 50px;
  height: 160px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  display: flex;
  list-style-type: none;
}
.top-box {
  background-color: #9d9da1;
  width: 10px;
  padding: 37px 240px 50px 16px;
  margin: 54px;
  display: inline;
}
nav {
  border: 5px rgb(253, 34, 34);
  background-color: rgb(2, 26, 26);
  /* display: flex; */
  padding: 20px;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 0;
}
ul li {
  display: inline;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 2px;
}
main {
  width: 100%;
  padding: 0px;
}
.container {
  padding: 30px 0px 0px 0px;
  background-color: rgb(204, 226, 226);
  height: 700px;

  /* width: 100%; */
}
footer {
  padding: 10px;
  margin: 5px 0px 0px 0px;
  color: white;
  background-color: black;
}
